# Archivos intermedios de LaTeX
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.bcf
*.run.xml
*.fls
*.fdb_latexmk
*.lof
*.lot
*.lol
*.synctex.gz
*.synctex(busy)
*.nav
*.snm
*.vrb
*.xdv

# Sistema operativo
Thumbs.db
Desktop.ini
.DS_Store

# Editores
*~
*.bak
.vscode/
